body {
    text-align: center;
    background: #d8e2dc;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #e8e8e4;
    display: inline-block;
    padding: 40px;
    font-size: 60;
    margin: 5px;
    color: #eee;
}

.jogador {
    font-size: 30px;
    margin-top: 10px;
}

.vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    background: #e5989b;
    width: 100px;
    border: 0;
    padding: 15px;
    color: #ffffff;
    cursor: pointer;
}